<nav mfb-menu position="br" toggling-method="hover">
    <md-button class="md-fab md-primary" ng-click="openDialog()" ng-controller="fabCtrl">
        <md-icon class="material-icons">add</md-icon>
    </md-button>
</nav>