<div layout="row" layout-xs="column" layout-align="space-around">
    <div ng-controller="roundupCtrl" flex-gt-sm="60" flex="100">

        <div ng-repeat="(year, weeknr) in items">

            <div class="weekdisplay" ng-repeat="(week, weekItems) in weeknr | orderBy:-[]:true">

                <div layout="row" layout-align="space-between">
                    <span id="roundup-current-week" ng-disabled="true" class="md-button">This week (#{{week}})</span>

                    <md-menu ng-controller="menuCtrl as ctrl" md-position-mode="target-right target">
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin>more_horiz</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button disabled="disabled" ng-click="ctrl.redial($event)">
                                    <md-icon md-menu-align-target>share</md-icon>
                                    Share to...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                                    <md-icon>insert_drive_file</md-icon>
                                    Generate article
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="ctrl.toggleNotifications()">
                                    <md-icon>notifications_{{ctrl.notificationsEnabled ? 'off' : 'on'}}</md-icon>
                                    {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>


                <md-card>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="item in weekItems">
                                <div class="md-list-item-text">
                                    <h3>{{item.title}} <i>({{item.category}}) - {{item.date}}</i></h3>
                                    <h4>Added by: {{item.creator}}</h4>
                                    <p ng-class="(item.url) ? 'description-url-space' : ''">{{item.text}}</p>
                                    <md-button class="md-secondary" ng-if="item.url" href="{{item.url}}">Link</md-button>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>

            </div>

        </div>

        {{items}}
    </div>
</div>
