<div class="md-toolbar-tools">
    <md-button class="md-icon-button">
        <md-icon class="material-icons" ng-click="toggleLeft()">
            menu
        </md-icon>
    </md-button>
    <h2>
        <span>Weekly Roundup</span>
    </h2>
    <!--
    <span flex></span>
    <md-button class="md-icon-button">
        <md-icon class="material-icons">
            add
        </md-icon>
    </md-button>
    -->
</div>